@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

@layer base {
  * {
    border-color: #e4e4e7; /* Zinc 200 */
  }
  .dark * {
    border-color: #27272a; /* Zinc 800 */
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter), sans-serif;
  }
}